.frameApplicationCV{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    background-color: #111;
    color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.container {
  min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow-y: scroll;
    margin: 87px 0;
}
.PartieBottomCV{
    overflow-y: scroll;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
 
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.skills{
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  width: 90vw;
  background-color: #27282b;
  border-radius: 15px;
}
.logiciel,.web{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.library img{
  height: 8vh;
}
.web table{
  color: white;
  width: 90vw;
  margin: 30px auto;
  text-align: center;
}
.web p{
  text-align: initial;
  padding-left: 8px;
}
.web img{
  text-align: right;
  padding-right: 8px;
}
.img-logo{
  text-align: end;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
  .logiciel,.web{
    flex-direction: row;
  }
  .web table{
    width: 40vw;
  }
 
}

