.frameAccueil{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    --webkit--overflow:hidden;
}
.backgroundAccueil {
    display:flex;
    position: absolute;
    top:0;
    opacity:0; 
    z-index:1;
    width:100vw;
    height:105vh;
    } 
    
.heure{
    display:flex;
    margin-top: 5vh auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 15vw;
    z-index:2;}
.numbers{
    display: grid;
    width: 100vw;
    justify-content: center;
    grid-template-columns: repeat(3,17%);
    
}
.mdp{
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
}
.points{
    display:flex;
    justify-content: center;
    
}
.point{
    display: flex;
    justify-content: center;
    height:2vw;
    width:2vw;
    border: solid;
    border-radius: 50%;
    z-index:2;
    margin:3vh 1vw;   
    
}
.number{
    width: 60px;
    height: 60px;
    display:flex;
    justify-content: center;
    z-index:2;
    font-size: 50px;
    border-radius: 30px;
    margin: 4px auto;
}
.number:hover{
    background-color: rgb(126, 125, 125);
}
.number p{
    height: 0;
    margin:0 0 60px 0;
    cursor: pointer;
    user-select: none;
    background: red;
   

}

.tryTxt{
    display:flex;
    justify-content: center;
    margin-bottom: 2vh;
    font-size:1.5em;
    color:black;
}
