.frameStage{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    --webkit--overflow-y:scroll;
    --webkit--overflow-x:hidden;
    margin: 0;
    background-color: blue;
    scrollbar-width: none;
}

.card-stage{
    position: relative;
    display: flex;
    width: 75vw;
    height: 40vh;
    margin:auto;
    overflow: hidden;
    --webkit--overflow:hidden;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}
.card-stage p{
    margin: auto 10px;
    text-align: center;   
}


.volet{
    position: absolute;
    display: flex;
    height: 40vh;
    width: 75vw;
    top:0;
    background-color: rgb(43, 41, 41);
    justify-content: center;
    align-items: center;
    color: aliceblue;
    transition: top 500ms;
}
.volet h1{
    font-size: 2em;
    text-align: center;
}
.card-stage:hover>.volet{
    top:-45vh;
    transition-duration: 500ms;
  

}

.card-stage button{
    display: flex;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid black;
    height: 4vh;
    align-items: center;
    border-radius: 1px;
  
}
.card-stage button:hover{
    background-color: black;
    color: white;
    transition-duration: 700ms;
}
.Lilmod-Et-Lelamed,.main,.Centrale-Optique{
    display: none;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    --webkit--overflow-y:scroll;
    scrollbar-width: none;
    
}
.main{
    height: calc(95vh - 42px);
    overflow-y: scroll;
    --webkit--overflow-y:scroll;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    background-color: #979696;
    flex-direction: column;
}
.Centrale-Optique,.Lilmod-Et-Lelamed{
    flex-direction: column!important;
}
.frameStage div:nth-child(6),.frameStage div:nth-child(5){
    background-color: rgb(238, 238, 238);
}
.Centrale-Optique h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-centrale img{
    height: 40vh;
    object-fit: cover;
    width: 100vw;
    
}
.banner-centrale{
    position: relative;
    display: flex;
    flex-direction: column;
   
}
.container-centrale,.maquette-centrale{
    border: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maquette-centrale{
    margin: auto;
    width: 90vw;
}
.container-centrale{
    height: 200px;
}

.container-centrale ul{
    list-style: none;
    padding: 0;
    font-size: 15px;
    
}
.container-infos-centrale{
    border: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row:nth-child(2){
    float: right;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; margin-left: 10px;}
    .div2 { grid-area: 2 / 1 / 3 / 3; margin-left: 10px;}
    .div3 { grid-area: 1 / 3 / 3 / 5; margin-right: 10px;}
    .div4 { 
        grid-area: 3 / 1 / 4 / 5; 
        margin: 0 10px;
        border: 2px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div4 span{
        font-weight: bolder;
        font-size: 20px;
    }
    .centraleimg{
        margin-left: 10px;
        width: 80vw;
    }
    .lilmodimg{
        margin-left: 10px;
        width:80vw;
    }
    .imgvpl,.imglilmod{
        flex-direction: column;
        display: flex;
        margin: 10px auto;
    }
    .imgvpl img:nth-child(1){
        margin-bottom: 10px;
    }
    .imglilmod img:nth-child(1){
        margin-bottom: 30px;
    }
   
    
    .banner-lilmod img {
    height: 40vh;
    object-fit: cover;
    width: 100vw;
    }
    .imglilmod h4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:10px auto;
    }
    .ordi{
        width: 500px;
        height: 300px;
        overflow: scroll;
        --webkit--overflow:scroll;
        object-fit: cover;
        border: 5px solid black;
        margin: 5px;
        background: black!important;
        
    }
    .img-maquettes{
        display: flex;
        flex-flow: wrap;
        margin: auto;
        width: 90vw;
        justify-content: space-around;
    }
    .maquette-centrale p{
        font-size: 25px;
        text-align: center;
    }
    .imgvpl img:nth-child(1),.imgvpl img:nth-child(2){
        margin: 50px 10px;
    }
    
    .ordi img{
        width: 100%;
    }
    .banner-centrale h1,.banner-lilmod h1{
        font-size: 5.5vh;
    }
@media screen and (max-width:350px) {
    .container-centrale{
        font-size: 7px;
    }
    .container-infos-centrale{
        font-size: 12px;
    }
    .parent {
        grid-template-rows: repeat(3, 0.4fr);
    }
    .container-centrale ul{
        font-size: 10px;
    }
}

@media screen and (min-width:920px){
    .container-infos-centrale article{
        font-size: 30px;
    }
}
@media screen and (min-width:650px) {
    .maquette-centrale p{
        font-size: 50px;
    }
    .imglilmod h4{
        margin: auto 10px;
    }
    .exemple-experiences{
        flex-direction: row;
    } 
    .centraleimg{
        margin-left: 10px;
        width: 40vw;
    }
    .card-stage{
        width: 25vw;
        height: 30vw;   
    }
    .volet{
        height: 30vw;
        width: 25vw;
    }
    .container-centrale ul{
        font-size: 25px;
    }
    .container-centrale{
        font-size: 15px;
        font-weight: bolder;
    }
    
    .card-stage:hover>.volet{
        top:-30vw;
        transition-duration: 500ms;
    
    }
    .volet h1{
        font-size: 4em;
    }
    .imgvpl,.imglilmod{
        flex-direction: row;
    }
    .lilmodimg{
        width:40vw;
    }
    .banner-lilmod img{
        height: 40vh;
        object-fit: cover;
        width: 100vw;
        
    }

}
