.frameProfil{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(65, 62, 62);
}
.photo-identite{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    flex-direction: column;
}
.croixContact{
    display:flex;
    margin-right: 10px;
}
.identite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photoIlan{
    border-radius: 180px;
    object-fit: cover;
    overflow: hidden;
    height: 159px;
    
}
.photoIlan img{
    width: 150px;
}
.tableauInformation td{
    padding:10px 22px;
    font-size: 20px;
    margin-top: 10px;
    justify-content: center;
    background-color: rgb(49, 47, 47);;
}
.informationsIdentite table{
    text-align: center;
    margin: 50px auto 0 auto;
    border-spacing: 5px;
}
.tableauInformation tr{
    display: flex;
    flex-direction: column;
}
.frame-profil-bottom{
    height: 95vh;
    overflow-y: scroll;
    color: black;
    
}

@media screen and (min-width:640px) {
    .tableauInformation td{
        font-size: large;
        padding:30px 84px;
    }
    .photoIlan{
        margin-left: 100px;
    }
    .identite{
        margin-right: 100px;
    }
    .photo-identite{
       flex-direction: row;
    }
    .tableauInformation tr{
        display: inherit;
    }
    
}