.frameProfil{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    overflow-y: scroll;
    --webkit--overflow-y:scroll;
    overflow-x: hidden;
    --webkit--overflow-x:hidden;
    margin: 0;
    background-color: rgb(65, 62, 62);
}
.informationsIdentite{
    margin-bottom: 65px;
}
.photo-identite{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.identite{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cadetblue;
}
.photoIlan{
    border-radius: 180px;
    object-fit: cover;
    overflow: hidden;
    --webkit--overflow:hidden;
    height: 159px;
    
}
.photoIlan img{
    width: 150px;
}
.tableauInformation td{
    padding:10px 22px;
    font-size: 20px;
    margin-top: 10px;
    justify-content: center;
    background-color: rgb(49, 47, 47);
    color: #b5f2f4;
}
.tableauInformation td:nth-child(1){
    background-color: rgba(29, 27, 27, 0.623);
    color: whitesmoke;
}
.informationsIdentite table{
    text-align: center;
    margin: 50px auto 0 auto;
    border-spacing: 5px;
}
.tableauInformation tr{
    display: flex;
    flex-direction: column;
}
.frame-profil-bottom{
    height: 95vh;
    overflow-y: scroll;
    --webkit--overflow-y:scroll;
    color: black;
    scrollbar-width: none;
    width: 100vw;
    
}
.reseaux-profil img{
    margin: auto 20px;
    cursor: pointer;
}
.croixProfil{
        margin-right: 8px;
        display: flex;
        height: 12px;
        background-color: #6c0202e3;
        width: 12px;
        border: 0.5px solid black;
        border-radius: 6px;
    
}
.croixProfil:hover{
    background-color:#990707;
}

@media screen and (min-width:640px) {
    .tableauInformation td{
        font-size: large;
        padding:30px 84px;
    }
    .photoIlan{
        margin-left: 100px;
    }
    .identite{
        margin-right: 100px;
    }
    .photo-identite{
       flex-direction: row;
       margin: 50px 0 0 0;
    }
    .tableauInformation tr{
        display: inherit;
    }
    
}