.frameStage{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    --webkit--overflow-y:scroll;
    --webkit--overflow-x:hidden;
    margin: 0;
    scrollbar-width: none;
}

.card-stage{
    position: relative;
    display: flex;
    width: 75vw;
    height: 40vh;
    margin:auto;
    overflow: hidden;
    --webkit--overflow:hidden;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}
.card-stage p{
    margin: auto 10px;
    text-align: center; 
    font-size: x-large;  
}


.volet{
    position: absolute;
    display: flex;
    height: 40vh;
    width: 75vw;
    top:0;
    background-color: rgb(43, 41, 41);
    justify-content: center;
    align-items: center;
    color: aliceblue;
    transition: top 500ms;
    flex-direction: column;
}
.volet h1{
    font-size: 2em;
    text-align: center;
}
.card-stage:hover>.volet{
    top:-45vh;
    transition-duration: 500ms;
  

}

.card-stage button{
    display: flex;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid black;
    height: 4vh;
    align-items: center;
    border-radius: 1px;
    cursor: pointer;
  
}
.card-stage button:hover{
    background-color: black;
    color: white;
    transition-duration: 700ms;
}
.Lilmod-Et-Lelamed,.main,.Centrale-Optique{
    display: none;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    --webkit--overflow-y:scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;    
}
.main{
    height: calc(95vh - 42px);
    overflow-y: scroll;
    --webkit--overflow-y:scroll;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    background-color: #979696;
    flex-direction: column;
}
.Centrale-Optique,.Lilmod-Et-Lelamed{
    flex-direction: column!important;
}

.volet img{
    height: 30px;
    position: absolute;
    bottom:0;
}





.contexte-centrale{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
.contexte-centrale h1{
    margin: 125px auto -1vh auto;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.842);
}
#premierwebsite h1{
    text-align: start;
    margin: 0 auto -1vh 8vw;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.842);
}
.contextes{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    justify-content: center;
    align-items: center;
  
}
.contextes article{
    margin-bottom: 10px;
}
.contexte4 span{
    font-weight: 900;
}
.contexte1 h3{
   
    font-size: 19px;
    color: black!important;
   
}
.contextes h3{
    color: #569cff;
    margin-top: 0;
}
.contexte1,.contexte2,.contexte3,.contexte4{
    display: flex;
    width: 90vw;
    height: 200px;
    margin: 2vw;
    border-bottom: 2px solid grey ;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    flex-direction: column;
    
}
.contexte1{
    border-top: 2px solid grey;
}
.contexte2{
    margin-top: -2vw;
}

.contexte3,.contexte4{
    margin-top: -2vw;
}


.header-centrale{
    height: 90px;
    background: #569cff;
    width: 100vw;
    position: fixed;
  }
  .header-lilmod{
      background: #efefef;
      height: 90px;
      width: 100vw;
      position: fixed;
  }
  .inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
  }
  
  .logo{
    float: left;
    padding: 20px 0;
  }
  
  .logo img{
    height: 50px;
  }
  
  .navigation-menu,.navigation-menu-lilmod{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
  }
 
  
  .navigation-menu a{
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  .navigation-menu-lilmod a{
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  .navigation-menu-lilmod a:hover{
      background:#fff;
      color: #00445b;
      transform: scale(1.1);
  }

  .navigation-menu a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .navigation-menu i,.navigation-menu-lilmod i{
    margin-right: 8px;
    font-size: 16px;
  }
  
  
 
  
  .menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
  }
  .tableau-contexte{
    line-height: 0.8;
  }
  .line{
      height: 1px;
      background-color: rgba(128, 128, 128, 0.226);
      margin: 50px auto;
      width: 100vw;
  }
  .lilmodimg{
    margin-left: 10px;
    width:80vw;
    object-fit: contain;
}
  .imgvpl,.imglilmod{
    flex-direction: column;
    display: flex;
    margin: 10px auto;
   
    }
    .imgvpl img:nth-child(1){
        margin-bottom: 10px;
    }
    .imglilmod img:nth-child(1){
        margin-bottom: 30px;
    }
    .imgvpl img:nth-child(1),.imgvpl img:nth-child(2){
        margin: 20px auto;
    }
    .centraleimg{
        margin-left: 10px;
        width: 80vw;
    }
    .imglilmod h4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:10px auto;
    }
   .maquette-centrale{
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 90vw;
    }
    .img-maquettes{
        display: flex;
        flex-flow: wrap;
        margin: auto;
        width: 90vw;
        justify-content: space-around;
    }
    .ordi{
        width: 500px;
        height: 300px;
        overflow: scroll;
        --webkit--overflow:scroll;
        object-fit: cover;
        border: 5px solid black;
        margin: 5px;
        background: black!important;
        
    }
    .ordi img{
        width: 100%;
    }
   

  @media screen and (min-width:975px){
    .contexte2{
        border-top: 2px solid grey;
        margin-top: 2vw;
    }
    .contextes{
        flex-direction: row;
    }
    .contexte-centrale h1{
        margin: 125px auto -1vh 8vw;
    }
    .contexte1,.contexte2,.contexte3,.contexte4{
        width: 40vw;
    }
}
  @media screen and (min-width:650px){
    .imgvpl,.imglilmod{
        flex-direction: row;
    }
    .centraleimg{
        margin-left: 10px;
        width: 40vw;
    }
    .imglilmod h4{
        margin: auto 10px;
    }
    .lilmodimg{
        width:40vw;
    }
  }
  @media screen and (max-width:700px) {
    .menu-toggle-btn{
      display: block !important;
    }
  
    .navigation-menu{
      position: fixed;
      width: 100%;
      max-width: 400px;
      background: #172b4d;
      top: 90px;
      right: 0;
      display: none;
      padding: 20px 40px;
      box-sizing: border-box;
    }
  
    .navigation-menu::before,.navigation-menu-lilmod::before{
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #172b4d;
      position: absolute;
      top: -10px;
      right: 10px;
    }
  
    .navigation-menu a,.navigation-menu-lilmod a{
      display: block;
      margin: 10px 0;
    }
  
    .navigation-menu.active .navigation-menu-lilmod.active{
      display: block;
    }
    .inner-width{
        display: flex;
        justify-content: center;
    }

  }
@media screen and (max-width:900px){
    .navigation-menu-lilmod{
        position: fixed;
      width: 100%;
      max-width: 400px;
      background: #172b4d;
      top: 90px;
      right: 0;
      display: none;
      padding: 20px 40px;
      box-sizing: border-box;
    }
    
}
@media screen and (min-width:650px) {
    
    .exemple-experiences{
        flex-direction: row;
    } 
    .card-stage{
        width: 25vw;
        height: 30vw;   
    }
    .volet{
        height: 30vw;
        width: 25vw;
    }
    .card-stage:hover>.volet{
        top:-30vw;
        transition-duration: 500ms;
    
    }
    .volet h1{
        font-size: 2em;
    }

}