.frameApplicationProjets{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    overflow: hidden;
    margin: 0
}
.partieTopNavigationInternet{
    width:100vw;
    height:46px;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partieTopNavigationInternet img{
    margin: 0 1px 0 4px;
    height:15px;
    cursor: pointer;
}
.fleche-droite,.fleche-gauche{
    display: none;
}
.titleSite{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 15px;
    width:100vw;
    min-width: 200px;
    height: 25px;
    background-color: rgb(65, 65, 65);
    z-index: 1;
    font-size: 10px;
    font-weight:bold;
}
.fermerProjets{
    height:10px;
    cursor: pointer;
    
}
.croix2{
    display: none;
}
.croix{
    margin:auto 5px;
    display: flex;
    height: 20px;
}
.topPage{
    width:100%;
    height: 25px;
    background-color: rgb(44, 44, 44);
    z-index:2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgWifi{
    width: 3vh;
    margin-left: 10px; ;
}
.notifications2{
    display: flex;
        justify-content:flex-end;
        padding-right: 5vh;
        align-items: center;
        height:5vh;
        width:99vw;
        background-color: rgb(136, 135, 135);
        color: black;
        font-size: 2vh;
        z-index: 1;
}
.url{
    display: flex;
    background-color: whitesmoke;
    color: black;
    border-radius:4px ;
    padding: 1px 4px;
    width: 60vw;
    margin-right: 5px;
    overflow-x: overlay;
    height: 17px;
    font-size: 14px;
}
.cadenas{
    margin-right: 5px;
}
.partieBottomNavigationInternet{
    height: calc(95vh - 42px);
    overflow-y: scroll;
    color: black;
    background-color: white;
}
.partieBottomNavigationInternet h1{
    text-align: center;
}

.projets{
    display: flex;
    flex-direction: column;
    width:98vw;
    flex-flow: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.card{
    width:300px;
    height:320px;
    margin: 0 10px 10px 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:rgba(128, 128, 128, 0.637);
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.blocRougeDisquette{
    position: absolute;
    top:0;
    width: 170px;
    height: 24px;
    background-color: red;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    color: #fff;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
}
.blocGrisDisquette{
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 180px;
    height:130px;
    background-color: rgba(128, 128, 128, 0.932);
    box-shadow: inset 1px 0px 3px rgb(109, 109, 109);
    top:0;
    text-align: center;
    border: none;
}
.blocNoirDisquette{
    position: absolute;
    top:20px;
    width: 45px;
    height: 100px;
    left:150px;
    background-color:black;
    z-index: 2;
}
.logoSVGProjet{
    display: none;
    height:30vw;
    width: auto;
}

.blocRougeEtBlancDisquette{
    position: absolute;
    width:180px;
    height:155px;
    bottom:10px;
    background-color: #fff;
    border-radius: 5px;
    
}
.projetsMain{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.blocRougeEtBlancDisquette p {
    position: absolute;
    text-align: center;
    font-size: medium;
    color: black;
    width: 175px;
    top:24.1px;
}
.laFleur,.gsbJava,.gsbSymfony{
    display: none;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    
}
.gsbSymfony,.gsbJava{
    position: relative;
    background-color: #005377;
    color: #FFE2D1;
}
.banner-gsb-symfony img,.banner-gsb-java img{
    height: 20vh;
    object-fit: cover;
    width: 100vw;
}
.banner-gsb-symfony,.banner-gsb-java{
    position: relative;
    display: flex;
    justify-content: center;
    
}
.banner-gsb-symfony p,.banner-gsb-java p{
    position: absolute;
    bottom: -60px;
    font-weight: 900;
    font-size: 227%;
    
}
.gsbSymfony h1,.gsbJava h1{
    color: #45CB85;
}

.gsbSymfony p,.gsbJava p{
    color: #c9c9c9;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
.banner-gsb-symfony :nth-child(2),.banner-gsb-java :nth-child(2){
    color: rgb(187, 67, 67);
    text-shadow: 5px 5px 8px pink;
}
.contraintes-gsb-symfony,.contraintes-gsb-java{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #c9c9c9;
    width: 90vw;
    margin: 20px auto;
    border-radius: 20px;
}
.img-contraintes-gsb-symfony{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.techniques-gsb-symfony,.techniques-gsb-java{
    display: flex;
    flex-direction: column;
}
.logo-java{
    width: 100px;
    margin: auto;
}
.logo-uwamp-java{
    width: 70px;
    margin: 25px 15px 5px 15px;
}
.logo-uwamp{
    width: 70px;
    margin: auto;
}
.logoHCJP{
    width: 160px;
    margin: auto;
}
.contraintes-gsb-symfony h2,.contraintes-gsb-java h2{
    margin-left: 10px;
    color: #005377;
}
.listedecontraintes{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    padding: 0;
    flex-direction: column;
    width: 80vw;
    margin: inherit;
}
.Ressources-contraintes-java{
    display: flex;
    flex-direction: column;
    background-color: #fefefe83;
    align-items: center;
    border-radius: 10px;

}
.Ressources-contraintes-java:hover{
    box-shadow: 10px 5px 5px rgb(128, 125, 168);
}
.Ressources-contraintes-java h2{
    margin: 20px;
   
}
.flex-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-gsb-symfony,.container-gsb-java{
    width: 70vw;
    background-color: #706993;
    border-radius: 10px;
    margin: 10px auto;
   
}
.container-gsb-symfony:hover,.container-gsb-java:hover{
    background-color: rgb(128, 125, 168);
}

.interfacegsbsymfony img{
    width: 80vw;
    margin: 10px;
}
.interfacegsbjava img{
    margin: 10px;
    max-width: 60vw;
    max-height: 40vh;
}
.interfacegsbsymfony,.interfacegsbjava{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.buttons-interface-symfony,.buttons-interface-java{
    display: flex;
    justify-content: center;
}
.buttons-interface-symfony button,.buttons-interface-java button {
    width: 20vw;
    height: 7vh;
    margin: 10px;
    background-color: #005377;
    border: none;
    cursor: pointer;
}
.buttons-interface-symfony button:hover, .buttons-interface-java button:hover{
    background-color: #0378aa;
    color: white; 
}


@media screen and (min-width:866px) {
    .url{
        width:83vw;
    }
    .interfacegsbsymfony img{
        width: 37vw;
        margin: 10px;
    }
    .logoSVGProjet{
        display: flex;
    }
    .titleSite{
        border-top-right-radius: 1em;
        width:10%;
    }
    .flex-around{
        flex-direction: row;
    }
    .container-gsb-symfony,.container-gsb-java{
        width: 16vw;
       
    }
    .croix2{
        margin-right: 5px;
        display: flex;
        height: 20px;
    }
    .listedecontraintes{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        text-align: center;
        padding: 0;
        flex-direction: row;
        width: 86vw;
    }
    .Ressources-contraintes-java{
        display: flex;
        flex-direction: column!important;
        margin: auto 20px;
        width: 58vw;
    }
}