.frameEcranApplication{
    display:none;
    width:100vw;
    height:100vh;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
.backgroundApplication {
    display:flex;
    position: absolute;
    background-color: rgb(218, 56, 56);
    top:0;
    opacity:0; 
    width:100vw;
    height:105vh;

    z-index:1;
    } 
.notifications{
        display: flex;
        justify-content:flex-end;
        padding-right: 5vh;
        align-items: center;
        height:5vh;
        width:100vw;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 2vh;
        z-index: 1;
        
    }

.applicationsTop{
    display: grid;
    justify-items: center;
    height:73vh;
    width:90vw;
    grid-template-columns: repeat(auto-fill,25%);
    z-index: 1;
}
.applicationsBottom{
    display:flex;
    justify-content: center;
    height:10vh;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 5vh;
    border-radius: 0.7em;   
    z-index:1;
}
.application{
    display:flex;
    flex-direction: column;
    width: 20vw;
    height:22vw;
    margin: 1vh 2vw ;
    
}
.application1,.application2,.application3,.application4,.application5,.application6,.application7,.application8,.application9,.application10,.application11,.application12,.application13,.application14,.application15,.application16,.application17,.application18{
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 0.7em;
    height:83vh;
    margin: 1vh;
}

.applicationTitle1,.applicationTitle2,.applicationTitle3,.applicationTitle4,.applicationTitle5,.applicationTitle6,.applicationTitle7,.applicationTitle8,.applicationTitle9,.applicationTitle10,.applicationTitle11,.applicationTitle12,.applicationTitle13,.applicationTitle14,.applicationTitle15,.applicationTitle16,.applicationTitle17,.applicationTitle18{
    background-color: rgb(165, 129, 123);
    height:15vh;
    margin: 0 1vh;
}
.applicationBottom{
    display:flex;
    flex-direction: column;
    width: 9vh;
    height:9vh;
    margin: 0 2vw ;
    
}
.applicationB1,.applicationB2,.applicationB3,.applicationB4{
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 0.7em;
    height:83vh;
    margin: 1vh;
}
.applicationBTitle1,.applicationBTitle2,.applicationBTitle3,.applicationBTitle4{
    background-color: rgb(165, 129, 123);
    height:10vh;
    margin: 0 1vh;
}
/* Desktop */
@media screen and (min-width: 1024px){
    .applicationsBottom{
        width: 50vw;
    }
    .applicationsTop{
        grid-template-columns: repeat(auto-fill,20%);
    }
    .application{
        width:7vw;
        height:8vw;
    }
}

/* Tablet */
@media screen and (min-width: 728px) and (max-width:1023px){
    .applicationsBottom{
        width: 70vw; 
    }
    .application{
        width:12vw;
        height:13vw;
    }
    .applicationsTop{
        grid-template-columns: repeat(auto-fill,20%);
    }
}

@media screen and (min-width: 525px) and (max-width:727px){
    .application{
        width: 15vw;
        height:16vw;
    }
}

