@font-face {font-family: nordic;src: url(../fonts/vevey.ttf);}
.tablette{
      display: flex;
      margin: auto;
      max-width: 50%;
      max-height: 50%; 
      background-color: rgb(34, 33, 33);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border:solid black 12px ;
      border-radius: 30px;
      box-shadow: 20px 9px 25px rgb(20, 20, 20);
      transition:all 3s;
  }

  .accueil{
      display:none;
  }
 .backgroundScroll {
    position: relative;
    background-color: rgb(218, 56, 56);
    width:100vh;
    opacity:0; 
    bottom:50vh;
  
    } 

.title{
    display:flex;
    margin-top: 5vh auto;
    justify-content: center;
    text-align: center;
    font-size: 10vh;
    color: rgb(17, 89, 148);
}

.tablette img{
    display:flex;
    margin: auto;
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
}
.tablette.animate{
    transform: scale(3.5);
}