@font-face {font-family: nordic;src: url(../fonts/vevey.ttf);}
body{
  margin: 0;
  background-color: rgb(202, 202, 202);
  color: #fff;
  font-family: Helvetica, sans-serif;
  
}
h1{  
    position: absolute;
    font-family: nordic;
    
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

  .tablette{
      display: flex;
      margin: auto;
      max-width: 50%;
      max-height: 50%;
      background-color: rgb(34, 33, 33);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border:solid black 12px ;
      border-radius: 30px;
      box-shadow: 20px 9px 25px rgb(20, 20, 20);
  }

  .accueil{
      position: absolute;
  }

 .backgroundScroll {
    position: relative;
    background-color: rgb(218, 56, 56);
    width:100vh;
    opacity:0; 
    bottom:50vh;
  
    } 

.title{
    margin-top: 5vh auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    color: rgb(17, 89, 148);
}

.tablette img{
    display:flex;
    margin: auto;
    padding-bottom:50px;
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
}